{% extends "contracts/base.html" %}
{% block content %}
  {% for contract in contracts %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ contract.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ contract.author }}</a>
          <small class="text-muted">{{ contract.date_created|date:'G:i e, d M Y' }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ contract.title }}</a></h2>
        <p class="article-content">Contract type: {{ contract.get_contract_type_display }}
        Contract amount: {{ contract.contract_amount }} {{ contract.get_contract_currency_display }}
        <a href="#">{{ contract.contract_file }}</a></p>
      </div>
    </article>
  {% endfor %}
  {% if is_paginated %}
    
    {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

  {% endif %}
{% endblock content %}